@model X.PagedList.IPagedList<DoAnWebBanDoChoi.Models.SanPham>
@using X.PagedList.Mvc.Core
@using DoAnWebBanDoChoi.Helpers
@{
    var daDangNhap = Context.Session.GetString("DangNhap") == "true";
}
<div class="row">
    @foreach (var sp in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">

                <div class="product__item__pic set-bg" >
                    <a asp-controller="Home" asp-action="Detail"
                       asp-route-slug="@sp.Slug" asp-route-id="@sp.MaSp">
                        <img src="@(Url.Content("~/img/product/dochoi/" + sp.HinhAnh))"
                             alt="@sp.TenSanPham" class="product__item__pic" />
                    </a>
                    <ul class="product__item__pic__hover">
                        <li>
                          
                            @if (daDangNhap)
                            {
                                <a href="javascript:;" class="btn-yeu-thich" data-id="@sp.MaSp">
                                    <i class="fa fa-heart "></i>
                                </a>
                            }
                            else
                            {
                                <a href="javascript:;" onclick="xacNhanDangNhapYeuThich()">
                                    <i class="fa fa-heart"></i>
                                </a>
                            }
                        
                        </li>

                        <li>
                            @if (daDangNhap)
                            {
                                <a href="javascript:;" onclick="submitThemGio(@sp.MaSp)">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            }
                            else
                            {
                                <a href="javascript:;" onclick="xacNhanDangNhap()">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6><a asp-controller="Home" asp-action="Detail" asp-route-slug="@sp.Slug" asp-route-id="@sp.MaSp">@sp.TenSanPham</a></h6>
                    <h5>@sp.DonGia.ToString("N0") đ</h5>
                </div>
            </div>
        </div>
    }
 

</div>

<div class="text-center mt-4">
</div>

<div class="product__pagination">
    <div class="text-center mt-4">
        @Html.PagedListPager(Model,
                 page => Url.Action("Index", new { page, loai = Context.Request.Query["loai"] }),
                 new PagedListRenderOptions
        {
            UlElementClasses = new[] { "pagination", "justify-content-center" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            ActiveLiElementClass = "active"
        }
                 )
    </div>
</div>